*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.bodyproject{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Você pode mudar isso para flex-start se quiser que comecem do topo */
    align-items: center;
    width: 100%;
    background-color:#f5f5f5 ;
}