
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.EditRow-container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.849);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow: auto;
}
.EditRow-container-card{
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 1400px;
    width: 60%;
    height: auto;              /* altura automática baseada no conteúdo */
    max-height: 90vh;  
    padding: 20px 0px 30px;        /* limite pra não ultrapassar a tela */   
    overflow-y: auto;
    text-align: left;
    scrollbar-width: thin;
    scrollbar-color: #0055a5 #e0e0e0; /* cor da barra e do fundo */
}
